<footer>
  <div class="wrapper">
    <p class="updated">Last updated <span><%=: time | date:'%m/%d/%y' %></span> at <span><%=: time | date:'%I:%M%p' %></span></p>
    <p class="copyright">Copyright © <%=: time | date:'%Y' %> Hagerstown, IN</p>
  </div>
</footer>