<footer>
  <div class="wrapper">
    <p class="updated">Last updated <span><%=: site.updated | date:'MM/DD/YY' %></span> at <span><%=: site.updated | date:'hh:mm A' %></span></p>
    <p class="copyright">Copyright © <%=: site.updated | date:'YYYY' %> Hagerstown, IN</p>
  </div>
</footer>