<div id="search">
  <form action="/search" method="get">
    <input type="text" id="search-query" name="q" autocomplete="off">
    <span class="clear">Clear</span>
  </form>
  <section id="search-results">
    <h3>Search results</h3>
    <ul class="results"></ul>
  </section>
</div>
