<% include includes/head %>

<header>
  <div class="wrapper">
    <h1 class="title"><a href="/">Comprehensive Plan</a></h1>
    <h2>Hagerstown, IN</h2>
    <% include includes/search %>
    <% include includes/toc %>
  </div>
</header>

<article id="main">
  <div class="wrapper">
    <%- body %>
  </div>

  <div class="controls cf">
    <a href="#" class="prev">← Previous<span></span></a>
    <a href="#" class="next">Next →<span></span></a>
  </div>

  <% include includes/footer %>
</article>

<% include includes/foot %>